* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-form {

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__button {
  position: absolute;
  top: 24px;
  right: 44.5%;
  cursor: pointer;
  background-color: white;
  border: #fafafa;
}
.form__container {
  padding-top: 12.5px;
  background-color: rgb(92, 92, 226);
  width: 100%;
  height: 60px;

}
.form__input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  border-radius: 8px;
  border-color: grey;
  z-index: 90;
}
.image__info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
 
 
}
.image__info p {
  font-weight: 700;
  font-size: 16px;
}
.image__info-elem{
  font-weight: 500;
  font-size: 14px;
}
.gallery{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc(100%/ 4);
  gap: 15px;
}
.image__photo {
  width: 100%;
  height: 280px;
  object-fit: cover;
  
}
.image__card {
  width: 450px;
  border: 1px solid black;
  box-shadow: -7px 6px 17px -17px rgba(66, 68, 90, 1);
}
.load__more-btn {
  display: flex;
  font-size: 17px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: white;
  box-shadow: 8px 8px 24px -15px rgba(66, 68, 90, 1);
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(227, 227, 240);
  width: 150px;
  height: 40px;
}
.hidden {
  display: none;
}
.icon-search {
  fill: #212121;
  color: #212121;
}
.icon {
 position: absolute;
  width: 12px;
  height: 14px;
  stroke-width: 0;
  stroke:black;
  fill: black;
 z-index: 100;
}
